@import "../../variables";

.account {
  @extend %col-nowrap;
  flex: 1 0 auto;
  overflow-y: auto;
  max-width: 42.5rem;
  width: 100%;
  margin: 0 auto;
  height: 0;
  padding: 0 .1rem;

  &__address {
    @extend %link;
    margin: 2rem 0;
    letter-spacing: .05rem;
    font-weight: 500;
  }

  &__header {
    @extend %row-nowrap;
    margin-bottom: 1rem;
  }

  &__balance-wrapper {
    @extend %col-nowrap;
    flex: 1 0 auto;

    &__label {
      color: rgba($black, .4);
    }

    &__amount {
      font-size: 2.2rem;
      line-height: 3.5rem;
      font-weight: 500;
    }
  }

  &__actions {
    @extend %col-nowrap;
    flex: 0 0 auto;
    justify-content: flex-end;
  }

  &__btn {
    @extend %btn-secondary;
  }

  &__content {
    flex: 1 0 auto;
  }

  &__transactions {
    @extend %panel;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
  }

  &__domains {
    @extend %panel;
    padding: 1.5rem;
  }

  &__panel-title {
    font-weight: 500;
    padding: 0 .5rem;
    margin-bottom: 1rem;
  }

  &__empty-list {
    background-color: rgba($black, .03);
    padding: .75rem 1.25rem;
    border-radius: .5rem;
    color: rgba($black, .3);
    font-size: .8rem;
    font-style: italic;
  }
}