@import '../extension';

.account_header {
  margin-bottom: 6%;
}

.account_subheader{
}

.account_cta {
  margin-bottom: 12px;
}

.account_option {
  margin: 10px 0px;
  cursor: pointer;
}

.account_background {
  margin: 5px 0px;
}

.account_background_text_wrapper {
  margin-top: 31px;
}

.account_resolver_switch {
  margin-top: 100px;
  display: flex;
  flex-flow: row nowrap;
  align-content: flex-start;
}

.account_background_text_wrapper {
  margin: 25px 0px;
}

.account_line_break {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: -25px;
}
