@import '../extension.scss';

.clickable {
  cursor: pointer;
}

.login_password_input {
  @extend %box-input;
  width: 90%;
  margin: 10px 0rem;
  border: 1px solid #E2E2E2;
  border-radius: 8px;
}

.login_cta {
  margin-top: 15px;
}