@import '../extension.scss';

.create_back {
  margin-right: 7px;
  position: relative;
  bottom: 1px;
}

.create_status_bar {
  margin-top: 10px;
  margin-bottom: 20px;
}

.clickable {
  cursor: pointer;
}

.login_password_input {
  @extend %box-input;
  width: 90%;
  margin: 10px 0rem;
  border: 1px solid #E2E2E2;
  border-radius: 8px;
}

.create_cta {
  margin-top: 35%;
}
