@import '../../../variables';

.home {
  @extend %col-nowrap;
  height: 100%;
  width: 100%;

  &__header {
    @extend %row-nowrap;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    height: 63px;
    box-shadow: 0 1px 0 0 $grey;

    &:before {
      content: '';
      display: block;
      height: 1.5rem;
      width: 1.5rem;
      background-image: url('/img/icon-128.png');
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  &__content {
    @extend %col-nowrap;
    align-items: center;
    justify-content: space-between;
    flex: 1 1 auto;
    height: 0;
    background-color: rgba($black, 0.01);

    &__power {
      @extend %row-nowrap;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      cursor: pointer;
      box-shadow: 0 0 0px 0px rgba($black, 0.02);
      transition: 250ms ease-in-out;
      margin-bottom: 3rem;

      &__icon {
        @extend %row-nowrap;
        justify-content: center;
        align-items: center;
        padding: 1.5rem;
        border: 3px solid rgba($black, 0.15);
        box-shadow: 0 0 0 2px rgba($black, 0.4);
        border-radius: 50%;
        transition: 250ms ease-in-out;

        &:before {
          transition: 250ms ease-in-out;
          content: '';
          display: block;
          height: 3rem;
          width: 3rem;
          background-image: url('/img/icon-128.png');
          background-size: contain;
          background-repeat: no-repeat;
          opacity: 0.5;
        }
      }

      &:hover {
        box-shadow: 0 0 6px 18px rgba($black, 0.04);

        .home__content__power {
          &__icon {
            box-shadow: 0 0 0 2px rgba($black, 0.6);

            &:before {
              opacity: 0.5;
            }
          }
        }
      }

      &--on {
        box-shadow: 0 0 10px 30px rgba($azure-blue, 0.08) !important;

        .home__content__power {
          &__icon {
            border: 3px solid rgba($azure-blue, 0.15);
            box-shadow: 0 0 0 2px darken($azure-blue, 15) !important;

            &:before {
              opacity: 1;
              background-image: url('/img/icon-128-blue.png');
            }
          }
        }
        &:hover {
          box-shadow: 0 0 6px 30px rgba($azure-blue, 0.1) !important;

          .home__content__power {
            &__icon {
              border: 3px solid rgba($azure-blue, 0.15);
              box-shadow: 0 0 0 2px darken($azure-blue, 15) !important;

              &:before {
                opacity: 1;
              }
            }
          }
        }
      }
    }
    &__explanation {
      @extend %col-nowrap;
      padding: 1.5rem;

      &__headline {
        @extend %row-nowrap;
        @extend %h5;
        // font-style: italic;
        font-weight: 900;
        margin-bottom: 0.3rem;
      }

      &__text {
        @extend %h5;
      }
      &__link {
        @extend %h5;
        font-weight: 600;
        text-decoration: none;
        color: $azure-blue;
      }
    }
  }

  &__footer {
    @extend %h6;
    color: $black;
    flex: 0 0 auto;
    flex-direction: column;
    line-height: 1rem;
    box-shadow: 0 -1px 0 0 $grey;
    padding: 0 1.5rem 1.5rem 1.5rem;

    &__success {
      box-shadow: 0 -1px 0 0 $caribbean-green;
    }

    &__failure {
      box-shadow: 0 -1px 0 0 $orange-red;
    }

    &__row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    &__description {
      font-weight: 600;
    }

    &__highlight {
      color: $azure-blue;
      font-weight: 700;
    }
    &__status-wrapper {
      @extend %row-nowrap;
      justify-content: flex-end;
      align-items: center;
      padding: 0.2rem 0 1rem 0;
    }
    &__status {
      @extend %h6;
      font-weight: 500;
      line-height: 16px;
      color: $manatee-gray;

      &__failure {
        color: $orange-red;
        font-weight: 600;
      }
      &__success {
        color: $caribbean-green;
        font-weight: 600;
      }

      &__loading {
        background-image: url('/img/blocks.svg');
        background-size: cover;
        background-position: center;
        height: 12px;
        width: 12px;
        margin-right: 0.3rem;
      }
    }
  }
}
