// BW
$white: #fff;
$black: #000;
$grey: #e6e6e6;
$dark-grey: #c2c2c2;

// Blue
$azure-blue: #007eff;

// Extends
%arrow {
  i {
    border: solid black;
    border-width: 0 1.5px 1.5px 0;
    display: inline-block;
    padding: 3px;
  }

  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }
}

%col-nowrap {
  display: flex;
  flex-flow: column nowrap;
}

%row-nowrap {
  display: flex;
  flex-flow: row nowrap;
}

%link {
  color: $azure-blue;
  cursor: pointer;
  transition: color 200ms ease-in-out;

  &:hover {
    color: lighten($azure-blue, 10);
  }

  &:active {
    color: darken($azure-blue, 10);
  }
}

%btn-primary {
  border: 1px solid $azure-blue;
  padding: .75rem 1rem;
  font-size: .9rem;
  outline: none;
  background-color: $azure-blue;
  color: $white;
  border-radius: .75rem;
  cursor: pointer;
  font-weight: 500;
  transition: 200ms ease-in-out;
  user-select: none;

  &:focus {
    border-color: lighten($azure-blue, 10);
    background-color: lighten($azure-blue, 10);
    //color: lighten($azure-blue, 10);
  }

  &:hover {
    border-color: lighten($azure-blue, 10);
    background-color: lighten($azure-blue, 10);
    //color: lighten($azure-blue, 10);
  }

  &:active {
    border-color: darken($azure-blue, 10);
    background-color: darken($azure-blue, 10);
  }

  &:disabled {
    //border-color: darken($azure-blue, 10);
    border-color: $grey;
    background-color: $grey;
    color: rgba($black, .4);
    cursor: default;
  }
}

%btn-secondary {
  border: 1px solid $azure-blue;
  padding: .75rem 1rem;
  font-size: .9rem;
  outline: none;
  background-color: transparent;
  color: $azure-blue;
  border-radius: .75rem;
  cursor: pointer;
  font-weight: 500;
  transition: 200ms ease-in-out;

  &:focus {
    border-color: lighten($azure-blue, 10);
    background-color: rgba($white, .5);
    color: lighten($azure-blue, 10);
  }

  &:hover {
    border-color: lighten($azure-blue, 10);
    background-color: rgba($white, .5);
    color: lighten($azure-blue, 10);
  }

  &:active {
    border-color: darken($azure-blue, 10);
    background-color: rgba($white, .5);
    color: darken($azure-blue, 10);
    box-shadow: none;
  }
}

%panel {
  background-color: $white;
  border: 1px solid rgba($black, .15);
  box-shadow: 0 2px 2px 1px rgba($black, .1);
  border-radius: .5rem;
}

%box-input {
  box-shadow: 0 0 0 1.25px rgba($black, .1);
  padding: .75rem;
  border-radius: .25rem;
  font-size: 1rem;
  outline: none;
  width: 6rem;
  transition: 200ms ease-in-out;

  &::-webkit-input-placeholder {
    font-weight: 300;
    color: rgba($black, .1);
  }

  &:focus-within {
    box-shadow: 0 0 0 1.25px rgba($azure-blue, .6);
  }

  input {
    outline: none;
    flex: 1 1 auto;
    width: 0;
    font-size: .9rem;
    border: none;

    &::-webkit-input-placeholder {
      font-weight: 400;
      color: rgba($black, .4);
    }
  }
}

/*
  Generic UI Elements
 */

// Switch

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
}

.switch-text {
  align-self: center;
  padding-left: 12px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $grey;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 17.31px;
  width: 16.67px;
  left: 7.2px;
  bottom: 4.55px;
  background-color: $dark-grey;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: $azure-blue;
}

input:focus + .slider {
  box-shadow: 0 0 1px $azure-blue;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
  background-color: $white;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
