@import '../../variables.scss';
@import '../Extension/AccountLogin/login';
@import '../Extension/extension';
@import '../Extension/Account/loggedin';
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,500|Roboto:300,400,500,700,900');

html, body {
  margin: 0;
  padding: 0;
  font-family: system-ui, 'Roboto', sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#root {
  @extend %col-nowrap;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: rgba($black, .03);
  z-index: 100;
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}

.window-app {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;

  &__content {
    width: 42.5rem;
    margin: 2.5rem auto 0 auto;
  }

  &__login {
    margin: 5rem auto;
    font-size: 16px;
    background-color: white;
    box-shadow: 0 2px 6px 0 rgba($black, .2);
    border-radius: .2rem;
    width: 320px !important;
    height: 430px !important;

    .header_text {
      margin-bottom: 1rem;
    }
  }

  &__footer {
    margin-top: auto;
  }
}
