@import '../../variables';

.extension_primary_section {
  padding: 1.2rem 1.4rem;
  height: 100%;
  box-sizing: border-box;
}

//Extends

%description_text {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  line-height: 14px;
  width: 100%;
  color: black;
}

%subheader_text {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 16px;
  width: 100%;
  color: black;
}

%header_text {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: black;
  font-size: 18px;
  line-height: 21px;
}

.header_text {
  @extend %header_text;
}

.subheader_text {
  @extend %subheader_text;
}

.description_text {
  @extend %description_text;
}

.extension_cta_button {
  height: 38px;
  width: 100%;
  border-radius: 8px;
  background-color: $azure-blue;
  color: white;
  // font-family: 'SF-Pro-Display-Regular';
  font-family: 'Roboto', sans-serif;
  //font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  text-align: center;
  @extend %btn-primary;
}

.extension_primary_line_break {
  height: 5px;
  border-bottom: 1px solid $grey;
  width: 350px;
}

.extension_option_text {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 16px;
  width: 235px;
  color: black;
  cursor: pointer;
}

.extension_secondary_section {
  padding: 6px 5px;
}

.extension_background_text {
  height: 14px;
  opacity: 0.3;
  color: #000000;
  font-family: 'Roboto', sans-serif;
  font-size: .75rem;
  font-weight: 500;
  line-height: 1rem;
}
