@import '../extension.scss';

.import_ledger_back_button {
  margin-bottom: 10px;
}

.import_ledger_back {
  margin-right: 7px;
  position: relative;
  bottom: 1px;
}

.import_ledger_status_bar {
  margin-bottom: 10px;
}

.subheader_text {
  font-weight: 400;
}

.import_ledger_subtext {
  margin: 10px 0px;
  text-align: center;
}

.import_ledger_warning_text {
  margin-bottom: 20px;
}

.clickable {
  cursor: pointer;
}

.import_ledger_cta_button {
  margin: 5px 0px;
  height: 45px;
  width: 100%;
  border-radius: 8px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  @extend %btn-primary;
  text-align: center;
  outline: none;
  border: none;
  background-color: #E4E4E2;
  color: #909095;

  &__active {
    height: 45px;
    width: 100%;
    border-radius: 8px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    @extend %btn-primary;
    text-align: center;
    outline: none;
    border: none;
    background-color: $azure-blue;
    color: white;
  }

  &__inverted {
    background-color: white;
    color: $azure-blue;
    border: 1px solid $azure-blue;
  }
}

.import_ledger_cta {
  margin-top: 20px;
}
