@import '../extension';

.import_enter_back_button {
  margin-bottom: 10px;
}

.import_enter_back {
  margin-right: 7px;
  position: relative;
  bottom: 1px;
}

.import_enter_status_bar {
  margin-bottom: 10px;
}

.subheader_text {
  font-weight: 500;
  &__accent {
    color: #f45e4f;
    font-weight: 600;
  }
}

.import_enter_warning_text {
  margin-bottom: 20px;
}

.clickable {
  cursor: pointer;
}

.subheader_text_separator {
  height: 7.5px;
}

.import_enter_textarea {
  margin-top: 5px;
  width: 250px;
  height: 110px;
  outline: none;
  resize: none;
  overflow: wrap;
  border: 2px solid #cdcddd;
  border-radius: 7.5px;
  font-weight: 500;
  font-size: 14px;
  padding: 10px 10px;

}

.import_enter_textarea::placeholder {
  color: #a2a2a2;
  font-weight: 500;
  font-size: 14px;
}

.import_enter_cta_button {
  height: 45px;
  width: 100%;
  border-radius: 8px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  @extend %btn-primary;
  text-align: center;
  outline: none;
  border: none;
  background-color: #E4E4E2;
  color: #909095;

  &__active {
    height: 45px;
    width: 100%;
    border-radius: 8px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    @extend %btn-primary;
    text-align: center;
    outline: none;
    border: none;
    background-color: $azure-blue;
    color: white;
  }
}

.import_enter_cta {
  margin-top: 20px;
}

.import_enter_text_description {
  margin-top: 12px;
  text-align: center;
}

.import_enter_text_purchase_description {
  color: $azure-blue;
  margin-top: 2.5px;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
}
