@import '../extension';

.access_line_break {
  margin-top: 10px;
  margin-bottom: 15px;
  width: 120%;
  margin-left: -25px;
}

.access_back {
  margin-right: 7px;
  position: relative;
  bottom: 1px;
}

.clickable {
  cursor: pointer;
}

.header_text {
  margin-bottom: 15px;
}

.access_cta_wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;
  position: relative;
}

.access_cta_button {
  height: 78.5px;
  width: 100%;
  background-color: $white;
  color: $azure-blue;
  border: 1.5px solid #E2E2E2;
  border-radius: 12px;
  box-shadow: 0 5px 10px 0 #E2E9F2;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  margin: 10px 0px;
  cursor: pointer;
  transition: 250ms ease-in-out;
  text-decoration: none;

  .circle-check-container {
    transition: opacity 250ms ease-in-out;
    opacity: 0;
  }

  &:focus {
    border: 1.5px solid $azure-blue;
    border-radius: 12px;
    background-color: #FFFFFF;
    box-shadow: 0 5px 10px 0 #E2E9F2;
    outline: none;
  }

  &:hover {
    border: 1.5px solid $azure-blue;
    border-radius: 12px;
    background-color: #FFFFFF;
    box-shadow: 0 5px 10px 0 #E2E9F2;

    .circle-check-container {
      opacity: 1;
    }
  }

  &:active {
    border-color: darken(#E2E2E2, 10);
    background-color: darken($white, 10);
  }
}

.access_cta_primary_text {
  height: 16px;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  text-align: center;

}

.access_cta_secondary_text {
  height: 11px;
  width: 65px;
  opacity: 0.5;
  color: #2480FD;
  font-size: 9px;
  font-weight: 600;
  line-height: 11px;
  text-align: center;
  margin-top: 3px;
  text-transform: uppercase;
}
