@import "../../variables";

.auction {
  flex: 1 0 auto;
  overflow-y: auto;
  max-width: 42.5rem;
  width: 100%;
  margin: 1.5rem auto;
  height: 0;
  padding: 0 .1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
}

.auction__bottom {
  grid-column-start: 1;
  grid-column-end: 3;
}

.auction__left {
  display: grid;
  align-items: center;
  grid-template-rows: auto auto auto auto;
}

.auction__domain {
  font-weight: bold;
  font-size: 1.3rem;
}

.auction__group {
  display: grid;
  grid-template-rows: 1rem 2rem auto;
  align-items: center;
}

.auction__large {
  font-size: 2rem;
}